body {
    margin: 0;
    padding: 0;
}

head {
    display: none;
}

.container {
    width: 1280px;
    height: 1626px;
    background: #FFFFFF;
}

.header {
    text-align: center;
    text-decoration: none;
    margin: 0;
    padding: 0;


}

.menu-header li {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 30px;
    margin-right: 30px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
}

a {
    text-decoration: none;
   color: #FF0000;
}

.img {
    width: 1280px;
    height: 789px;
    left: 0;
    top: 78px;
}

 .title {
     font-size: 22px;
     line-height: 27px;
     letter-spacing: 3.3px;
     text-transform: uppercase;
     text-align: center;
 }

 .text {
     padding-left: 67.5px;
     padding-right: 67.5px;
     text-align: center;
 }

 .button {
     box-sizing: border-box;
     font-weight: bold;
     font-size: 12px;
     line-height: 12px;
     text-transform: uppercase;
     color: #FFFFFF;
     background: #FF0000;
     border-radius: 4px;
     width: 191px;
     height: 51px;
     margin-top: 66px;
     margin-left: 544.5px;
     margin-bottom: 42px;
 }

 .footer {
     font-weight: bold;
     font-size: 16px;
     line-height: 20px;
     letter-spacing: 2.4px;
     text-align: right;
     color: #373737;
     margin-right: 105px;
     margin-bottom: 29px;
 }